html{
    font-size: 100%;
    box-sizing: border-box;
}

*,  *::after, *::before{
    box-sizing: inherit;
}

body{
    margin:0;
    padding:0;
    font-family: 'Public Sans', sans-serif;
    line-height:1.3;
    font-size:$font-med;
    color: $darkTeal;
    font-weight: 300;
    
   
 &.noScroll{
    overflow:hidden;
    }
}


h1, h2, h3{
    margin-top:0;
    font-weight: 300;
    font-size: 2.3rem;
    line-height: 1.15;
    color: $darkTeal;
}

p{
    
@include breakpoint-up(large){
    font-size: 1.25rem;
} 

}

h2{
    font-size:1.875rem;
    margin-bottom: 1.5625rem;
    @include breakpoint-up(large){
        font-size:2.25rem;
        margin-bottom: 2.25rem;
    }
}
a, a:visited, a:hover{
    text-decoration: none;
}

//Container
.container{
    padding-left: 1.625rem;
    padding-right: 1.625rem;
    padding-bottom: 2.25rem;
    padding-top: 2.25rem; 
    max-width: 70rem;
    margin:0 auto;
   


//padding styles
&--pall{
    padding-right:1.5rem;
    padding-left: 1.5rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}
&--py{
    padding-right:1.5rem;
    padding-left: 1.5rem;
    
}
&--px{
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}
&--pt{
    padding-top: 2.25rem;
}
&--pb{
    padding-bottom: 2.25rem;
}
&--pl{
    padding-left: 1.5rem;
   
}
&--pr{
    padding-right: 1.5rem;
}
}

//flexbox

.flex{
    display:flex;

    &-jc-sb{
        justify-content: space-between;
    }
    &-jc-c{
            justify-content: center;
    }
    &-ai-c{
        align-items: center;
    }
}

//Buttons
button, .button{
    padding: 0.875rem 2.1875rem;
    background: linear-gradient(to right, $yellow, rgb(16, 136, 211));
    border-radius: 50px;
    cursor:pointer;
    border:none;
    color: $offWhite;
    font-weight: 400;
    display:inline-block;

    
        &:hover{
            opacity:0.55;
            font-weight: bold;
            color:$darkTeal;
            border: 1px solid $darkTeal;
        }
    
}

//visibility
.hide-for-mobile {
@include breakpoint-down(medium){
display:none;
}
}

.hide-for-desktop {
@include breakpoint-up(large){
    display:none;   
}
}