.header {
position:relative;
z-index:1;

     // Hamburger open styles
&.open {
    .header__toggle {
        > span:first-child{
            transform:rotate(45deg);
                }
        > span:nth-child(2){
            opacity:0;
                }
        > span:last-child{
                    transform:rotate(-45deg);
    }
  }
}
.overlay {
opacity:0;
position:fixed;
top:69px;
bottom:0;
right:0;
left:0;
background-image: linear-gradient( transparent, $brightCyan );
}

nav {
       padding-top: 0.1625rem;
       padding-bottom: 0.1625rem;

       
        position: relative;
        background-color: rgb(249, 244, 244);
}
&__logo{
    img {
        width: 6.8125rem;
        height:3.575rem;
    }
    }
    
&__toggle{ 
    > span{
        display: block;
        width:26px;
        height:2px;
        background-color:$brightCyan;
        transition: all 300ms ease-in-out;
        transform-origin: 5.5px 1px;

    &:not(:last-child){
        margin-bottom: 3px;
                }
            }         
        }
&__menu{
    position:absolute;
            background-color: $yellow;
            padding:1.625rem;
            width:calc(100% - 3rem);
            left:50%;
            transform:translateX(-50%) ;
            margin-top: 1.5rem;
            border-radius: 5px;

            a {
                display:block;
                color: $brightCyan;
                padding: 0.625rem;
                text-align:center;
            }
        }
        
    &__links {

            a{
                position:relative;
                height:26px;
                font-size: $font-sm;
                color:$greyishBlue;
                transition: color 300ms ease-in-out;

            &:not(:last-child){
                margin-right: 36px;
                }

            &::before{
                content:"";
                display: block;
                position:absolute;
                height:2px;
                background: linear-gradient(to right, $yellow, $brightCyan);
                right:0;
                left:0;
                bottom: -30px;
                opacity:0;
                transition: opacity 300ms ease-in-out;
            }
            &:hover {
                color:$brightCyan;
                 &::before{
                    opacity:1;
           }}

           
        }     
     }
   }

  



 
//  }
// }
