.hero{
height: 60%;
     border: 5px solid hotpink;
     
.hero-container{
    @include breakpoint-up(large){
        display:flex;
        align-items:center;
     
        }
}

    

    &__image{
            position:relative;
            background-image: url("/kisspng-colorful-shapes-desktop-wallpaper-geometry-line-abstract-background-5acb241d9e1b12.7125545015232624936476.png");
            background-position:  center 100%;
            background-repeat: no-repeat;
            background-size: cover;
            min-height:27.5rem;
            
        @include breakpoint-up(medium){
            min-height: 27rem;
            background-position: center 60%;
        }    

        @include breakpoint-up(large){
            flex:3;
            order:2;
            height:41.5rem;
            background-image:none;
           
        }
    &::before{
            @include breakpoint-up(large){
                content:"";
                position:absolute;
                background-image:url("/kisspng-colorful-shapes-desktop-wallpaper-geometry-line-abstract-background-5acb241d9e1b12.7125545015232624936476.png");
                background-repeat: no-repeat;
                background-size: 85%;
                width: 115%;
                height: 120%;
                top:-4em;
                
            }
        }
        
    &::after{
            content:"";
            position:absolute;
            background-image:url("/kisspng-mockup-user-interface-design-mobile-app-mobile-pho-5ce7d8829a5168.2382125115586981146321.png");
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: 100%;
            height: 100%;
            width: 80%;
            top: 1em;
            right:1em;
          
           
        @include breakpoint-up(medium){
            background-size: 60%;
            width:100%;
            background-position: bottom center;
            top:2em;
          }
        
          @include breakpoint-up(large){
            background-size: 100%;
            // width: 60%;
            height: 120%;
            top: -8em; 
            // right: -12%;  
          }
        }
    }
        //   }  
        // }
        // &::after{
        //         content:"";
        //         position:absolute;
        //         background-image:url("/kisspng-mockup-user-interface-design-mobile-app-mobile-pho-5ce7d8829a5168.2382125115586981146321.png");
        //         background-repeat: no-repeat;
        //         background-size: 85%;
        //         width: 60%;
        //     height: 120%;
        //     top: 10em;
        //     right: -12%;          
  
    

    &__text{
            text-align:center;
            @include breakpoint-up(large){
                flex:2;
                order:1;
                text-align:left;
                
            } 
        
            h1{
           
            font-weight:300px;
            font-size: 2.375rem;
            line-height: 1.15;
        

            @include breakpoint-up(large){
                font-size: 3.25rem;
                text-align:left;
                margin-bottom: 0.5em;
            }
        }

        p {
            line-height: 1.35;
            padding-bottom: 1.25rem;
         
         

            @include breakpoint-up(large){  
                text-align:left;
            }
        
    }

    }

    &__cta {
        font-size:$font-sm;
        color:$offWhite;
        transition: opacity 300ms ease-in-out;
    }
}
